{% extends 'base.html' %}
	{% block head_title %}Lista de Ventas{% endblock %}
	{% block content %}
  {% load bootstrap3 %}
	<style media="screen">
.tbody{
  width: 100%;
  height: 800px;
  overflow: scroll;
  -webkit-overflow: scroll;
  -mozkit-overflow: scroll;
}
.table{
  height: 600px;
}
</style>
<script type="text/javascript">
(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
<!-- START PAGE CONTENT -->
<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
           <li class="breadcrumb-item active">Log</li>
         </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->

	<div class="row">
		<div align="center">
			<h1 style="color:black;">Lista de E/S de Hoy</h1>
			{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<form target="_blank" action="{% url "reportes:pdfdia" %}" method="GET">
				<label class"h4"=for="date">Selecciona Fecha para Consultar <input type="date" name="date" id="date" required="required"></label>
				<a href="{% url "reportes:pdfdia" %}" target="_blank"><button type="submit" class="btn btn-info fas fa-file-pdf"></button></a>
				<p><input type="submit" value="Reporte por Fecha" class="btn-transparent"></p>
			</form>
			<div class="form-group">
				<input id="search" type="search" class="light-table-filter text-dark" data-table="table" placeholder="Buscar" autofocus>
			</div>

			<div class="conscroll">
			<table class="table table-hover">
				<thead class="bg-dark">
						<th class="text-center aling-middle">Id</th>
						<th class="text-center aling-middle">Producto</th>
						<th class="text-center aling-middle">Cantidad</th>
						<th class="text-center aling-middle">Ilicito</th>
						<th class="text-center aling-middle">Culpable</th>
            <th class="text-center aling-middle">Fecha</th>
				</thead>
					{% for log in log %}
					<tbody>
					<tr>
						<td class="text-center align-middle">{{ log.id }}</td>
						<td class="text-center align-middle">{{ log.producto }}</td>
						<td class="text-center align-middle">{{ log.cantidad }}</td>
						<td class="text-center align-middle">{{ log.ilicito }}</td>
						<td class="text-center align-middle">{{ log.culpable }}</td>
            <td class="text-center align-middle">{{ log.fecha }}</td>
					</tr>
				</tbody>
        {% endfor %}

				</table>
					</div>
			</div>
		</div>
		<!-- END PLACE PAGE CONTENT HERE -->
		</div>
		<!-- END CONTAINER FLUID -->
		</div>
		<!-- END PAGE CONTENT -->
{% endblock %}
