{% extends 'base.html' %}
	{% block head_title %}Lista de Proveedores{% endblock %}
	{% block content %}
  {% load bootstrap3 %}
	{% url 'home' as home %}
	<style media="screen">
.tbody{
  width: 100%;
  height: 800px;
  overflow: scroll;
  -webkit-overflow: scroll;
  -mozkit-overflow: scroll;
}
.table{
  height: 600px;
}
</style>
<script type="text/javascript">
(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
<!-- START PAGE CONTENT -->
<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
					 <li class="breadcrumb-item"><a href="{{home}}">Home</a>
           <li class="breadcrumb-item active">Proveedores</li>
         </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
{%if user.is_authenticated%}
	<div class="row">
		<div align="center">
			<h1 style="color:black">Proveedores</h1>
			{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<div class="col-md-12" id="buscar">
	      <div class="form-group">
	        <input id="search" type="search" class="light-table-filter text-dark" data-table="table" placeholder="Buscar" autofocus>
	      </div>
	    </div>
			<div class="row">
        <div class="col-lg-12 text-center">
          {% if user.is_superuser %}
            <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              Registrar Proveedor <i class="far fa-edit"></i>
            </button>
            {% else %}
            {% endif %}
            <div class="row">
              <div class="col-md-12 text-right">
                <sub class="text-muted">Cantidad de Proveedores: {{count}}</sub>
              </div>
            </div>
        </div>
      </div>

			<div>
				<table class="table table-hover">
						<thead class="bg-dark">
							<tr>
								<th class="text-center aling-middle">#</th>
								<th class="text-center aling-middle">Proveedor</th>
								<th class="text-center aling-middle">Nombre</th>
								<th class="text-center aling-middle">Dirección</th>
								<th class="text-center aling-middle">Telefono</th>
								<th class="text-center aling-middle">Fax</th>
								<th class="text-center aling-middle">Sitio</th>
								<th class="text-center aling-middle">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for proveedor in proveedor %}
							<tr class="bg-qualtek">
								<td class="text-center align-middle">{{ proveedor.id }}</td>
								<td class="text-center align-middle">{{ proveedor.proveedor }}</td>
								<td class="text-center align-middle">{{ proveedor.nombre }}</td>
								<td class="text-center align-middle">{{ proveedor.direccion }}</td>
								<td class="text-center align-middle">{{ proveedor.telefono }}</td>
								<td class="text-center align-middle">{{ proveedor.fax }}</td>
								<td class="text-center align-middle"><a href="{{proveedor.sitio}}">{{proveedor.sitio}}</a> </td>
								<td class="text-center align-middle">
									<a href="{% url 'almacen:proveedor_detail' proveedor.id %}">
										<button type="button" name="button" class="btn btn-info">
											<i class="fas fa-eye"></i>
										</button>
									</a>
								</td>

							</tr>

		        {% endfor %}
						</tbody>
					</table>
			</div>

				<!-- Inicio Modal Nuevo Producto -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:900px; min-width:900px;">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Agregar Proveedor</h4>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
								{% bootstrap_form form %}
									<div class="row">
										<div class="col-md-12 text-right">
											<button  type="submit" name="submit" class="btn btn-default">Hecho</button>
										</div>
									</div>
								</form>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal Nuevo Producto -->
			</div>
		</div>
		{%else%}
		      <div class="w-100 text-center">
		        <h1>Primero Debes Iniciar Sesión</h1>
		        {% url 'login' as login %}
		        <a href="{{login}}"><button type="button" name="button" class="btn btn-info">Iniciar Sesión</button></a>
		      </div>
		      {%endif%}
		      <!-- END PLACE PAGE CONTENT HERE -->
		      </div>
		      <!-- END CONTAINER FLUID -->
		      </div>
		      <!-- END PAGE CONTENT -->

		      {% endblock %}
