{% extends 'base.html' %}
	{% load bootstrap3 %}
	{% block content %}
	{% url 'clientes:list_cliente' as lista_clientes %}
	{% block head_title %}| Editando a {{ objects.nombre }} {{ objects.apellidos }}{% endblock %}
	<!-- START PAGE CONTENT -->
	<div class="content">
	  <!-- START JUMBOTRON -->
	  <div class="jumbotron" data-pages="parallax">
	    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
	      <div class="inner">
	        <!-- START BREADCRUMB -->
	         <ol class="breadcrumb">
						 <li class="breadcrumb-item"><a href="#">Clientes</a></li>
						 <li class="breadcrumb-item"><a href="#">Lista de Clientes</a></li>
             <li class="breadcrumb-item active">Editar a {{ objects.nombre }} {{ objects.apellidos }}</li>
	        </ol>
	        <!-- END BREADCRUMB -->
	      </div>
	    </div>
	  </div>
	  <!-- END JUMBOTRON -->
	  <!-- START CONTAINER FLUID -->
	  <div class="container-fluid container-fixed-lg">
	    <!-- BEGIN PlACE PAGE CONTENT HERE -->
	<section class="section">
			<div class="row separatedv">
				<div class="col-lg-12 text-center">
					<h2>Editar a {{ objects.nombre }} {{ objects.apellidos }}</h2>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<form method="post" class="a">
						{% csrf_token %}
						{%bootstrap_form form%}
						<input type="submit" value="Editar" class="btn btn-success"/>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</section>
	<!-- END PLACE PAGE CONTENT HERE -->
	</div>
	<!-- END CONTAINER FLUID -->
	</div>
	<!-- END PAGE CONTENT -->

{% endblock %}
