{% load static %}
{% url 'home' as home_url %}
{% url 'contacto' as contacto_url %}
{% url 'about' as about_url %}
{% url 'login' as login %}
{% url 'logout' as logout %}
{% url 'register' as register %}
{% url 'users' as users %}
{% url 'reportes' as reportes %}
{% url 'clientes:list_cliente' as clientes %}
{% url 'clientes:pro_cli_list' as proclilist %}
{% url 'clientes:ventas_list' as ventas %}
{% url 'clientes:cliente' as nuevocliente %}
{% url 'almacen:producto_list' as list_almacen %}
{% url 'almacen:release' as release %}
{% url 'reportes:pdfrel' as pedeefferelease %}
<!-- BEGIN SIDEBAR -->
    <!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
  <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
  <div class="sidebar-overlay-slide from-top" id="appMenu">

  </div>
  <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header">
    <center><img src="{% static 'img/logoblancotodo.png' %}" alt="logo" class="brand" data-src="{% static 'img/logoblancotodo.png' %}" data-src-retina="{% static 'img/logoblancotodo.png' %}" height="50"></center>   <br>
    <div class="sidebar-header-controls">

    </div>
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu" style="padding-top:100px;">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="">
        <a href="javascript:;">
          <span class="title">Usuarios</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-user"></i></span>
        <ul class="sub-menu">
          {% if user.is_authenticated %}
          <li class="">
            <a class="" href="{{ logout }}">Cerrar Sesión</a>
          </li>
          {% if user.is_authenticated and user.is_staff and user.is_superuser %}
          <li class="">
            <a class="" href="{{users}}">Lista de Usuarios</a>
          </li>
          {% else %}
          {% endif %}
          {% else %}
          <li class="">
            <a href="{{login}}">Iniciar Sesión</a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% if user.is_authenticated %}
      <li class="">
        <a href="javascript:;">
          <span class="title">Clientes</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-users"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="{{clientes}}">Lista de Clientes</a>
          </li>
          {% if user.is_authenticated and user.is_staff%}
          <li class="">
            <a href="{{proclilist}}">Lista de Productos por Cliente</a>
          </li>
          {% else %}
          {% endif %}
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Almacen</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-boxes"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="{{ list_almacen }}">Almacen</a>
          </li>
          <!-- <li class="">
            <a href="{{ release }}">Release</a>
          </li> -->
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Ventas</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-shopping-cart"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="{{ventas}}">Lista de Ventas</a>
          </li>
          {% if user.is_authenticated and user.is_staff%}
          <!-- <li class="">
            <a href="#">Agregar Venta</a>
          </li> -->
          {% else %}
          {% endif %}
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Pedidos</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-people-carry"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="#">------</a>
          </li>
          {% if user.is_authenticated and user.is_staff%}
          <li class="">
            <a href="#">-------</a>
          </li>
          {% else %}
          {% endif %}
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Reportes</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fas fa-file"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="{{reportes}}"> Reportes Qualtek</i></a>
          </li>
          <!-- <li class="">
            <a target="_blank" href="{% url 'reportes:pdfgen' %}"><i class="fas fa-file-pdf"> Almacen PDF</i></a>
          </li>
          <li class="">
            <a target="_blank" href="{% url 'reportes:pdftq' %}"><i class="fas fa-file-pdf"> Tubo Qualtek PDF</i></a>
          </li>
          <li class="">
            <a target="_blank" href="{% url 'reportes:pdfw' %}"><i class="fas fa-file-pdf"> Tubo W PDF</i></a>
          </li>
          <li class="">
            <a target="_blank" href="{% url 'reportes:pdfcin' %}"><i class="fas fa-file-pdf"> Cinchos PDF</i></a>
          </li>
          <li class="">
            <a href="{% url 'reportes:reporteexcel' %}"><i class="fas fa-file-excel"> Almacen Excel</i></a>
          </li>
          <hr class="acheerre">
          <li class="">
            <a target="_blank" href="{{pedeefferelease}}"><i class="fas fa-file-pdf"> Release PDF</i></a>
          </li>
          <li class="">
            <a href="#"><i class="fas fa-file-excel"> Release Excel</i></a>
          </li> -->
        </ul>
      </li>
      {% else %}
      {% endif %}
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBAR -->
