{% extends 'base.html' %}
	{% block head_title %}| Detalle de {{ object.username }}{% endblock %}
	{% block content %}
	{% url 'users' as users %}
	<!-- START PAGE CONTENT -->
	<div class="content">
	  <!-- START JUMBOTRON -->
	  <div class="jumbotron" data-pages="parallax">
	    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
	      <div class="inner">
	        <!-- START BREADCRUMB -->
	         <ol class="breadcrumb">
						 <p class="breadcrumb-item"><a href="#">Usuarios</a></p>
 						<p class="breadcrumb-item"><a href="{{users}}">Lista de Usuarios</a></p>
 	          <p class="breadcrumb-item active">Detalle de {{ object.username }}</p>
	        </ol>
	        <!-- END BREADCRUMB -->
	      </div>
	    </div>
	  </div>
	  <!-- END JUMBOTRON -->
	  <!-- START CONTAINER FLUID -->
	  <div class="container-fluid container-fixed-lg">
	    <!-- BEGIN PlACE PAGE CONTENT HERE -->
	<section class="section">
		<div class="container">
			<div class="row separatedv">
				<div class="col-lg-8">
					<hr>
					<h1>Información Personal</h1>
					<p>Nombre de Usuario: {{ object.username }}</p>
					<p style="color:{%if  object.first_name %}{%else%}red{%endif%};">Nombre: {%if  object.first_name %}{{ object.first_name }}{% else %}Sin nombre Asignado{%endif%}</p>
					<p style="color:{%if  object.last_name %}{%else%}red{%endif%};">Apellidos: {%if  object.last_name %}{{ object.last_name }}{% else %}Sin Apellidos Asignados{%endif%}</p>
					<p>Correo Electrónico: {{ object.email }}</p>
				</div>
				<div class="col-lg-4 text-right">
					<hr>
					<h1>Privilegios</h1>
					<p style="color:{%if  object.is_superuser == True %}{%else%}red{%endif%};">SuperUsuario: {%if  object.is_superuser == True %}Si{%else%}No{%endif%}</p>
					<p style="color:{%if  object.is_staff == True %}{%else%}red{%endif%};">Staff: {%if  object.is_staff == True %}Si{%else%}No{%endif%}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<hr>
					<h1>Estatus del Usuario</h1>
					<p>Activo: {%if  object.is_active == True %}Si{%else%}No{%endif%}</p>
					<p>Registrado hace: {{ object.date_joined|timesince }}</p>
					<p style="color:{% if  object.last_login == None %}red{%else%}{%endif%};">Ultima conexion: {%if  object.last_login == None %}Aún no ah iniciado sesión{%else%}{{ object.last_login }}{%endif%}</p>
				</div>
			</div>
			<div class="row">
				<hr>
				<div class="col-lg-12">
					<hr>
					<a href="{% url "edit" object.id %}">
						<button type="submit" class="btn btn-info">Editar</button>
					</a>
			</div>
		</div>
	</section>
<!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->


{% endblock %}
