{% extends 'base.html' %}
{% block head_title %}| Lista de Clientes{% endblock %}
{% block content %}
{% url 'clientes:list_cliente' as lista_clientes %}
{% url 'clientes:cliente' as cliente %}
{% url 'home' as home %}
<script type="text/javascript">
(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>
<!-- START PAGE CONTENT -->
<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="inner">
        <!-- START BREADCRUMB -->
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="{{home}}">Home</a></li>
           <li class="breadcrumb-item active"><a href="{{lista_clientes}}">Lista Clientes</a></li>
        </ol>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->
<section class="section">
  <div class="container">
    <h1 class="text-center">Clientes</h1>
    <div class="row text-center">
      {% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<div class="col-md-12" id="buscar">
	      <div class="form-group">
	        <input id="search" type="search" class="light-table-filter text-dark" data-table="table" placeholder="Buscar" autofocus>
	      </div>
	    </div>
      <div class="col-lg-12 text-center">
        <a class="" href="{{cliente}}">
          <button type="button" name="button" class="btn btn-default">
            Registrar Cliente <i class="far fa-edit"></i>
          </button>
        </a>
      </div>

          <div class="col-lg-12">
            <table class="table table-hover">
              <tr>
                <thead class="bg-dark">
                  <!-- <th class="text-center">ID</th> -->
                  <th class="text-center">Empresa</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Email</th>
                  <!-- <th class="text-center">Teléfono</th>
                  <th class="text-center">Teléfono Adicional</th> -->
                  <th class="text-center">Acciones</th>
                </thead>
              </tr>
              {% for objects in queryset %}
              <tr>
                <!-- <td class="text-center">{{ objects.id }}</td> -->
                <td class="text-center">{{ objects.empresa }}</td>
                <td class="text-center">{{ objects.nombre }}</td>
                <td class="text-center">{{ objects.email }}</td>
                <!-- <td class="text-center">{{ objects.telefono }}</td>
                <td class="text-center">{{ objects.telefono2 }}</td> -->
                {% if user.is_staff %}
                <td class="text-right">
                  <a href="{% url "clientes:detail_cliente" objects.id %}">
                    <button type="submit" class="btn btn-info">
                      <i class="far fa-eye"></i>
                    </button>
                  </a>
                  <a href="{% url "clientes:delete_cliente" objects.id %}">
                    <button type="submit" class="btn btn-danger">
                      <i class="fas fa-eraser"></i>
                    </button>
                  </a>
                </td>
                  {% else %}
                  {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
    </div>
  </div>
</section>
<!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->

{% endblock %}
