{% extends 'base.html' %}
	{% block head_title %}| Detalle de {{ cliente.nombre }} {{ cliente.apellidos }}{% endblock %}
	{% block content %}
	{% url 'clientes:list_cliente' as lista_clientes %}
	<!-- START PAGE CONTENT -->
	<div class="content">
	  <!-- START JUMBOTRON -->
	  <div class="jumbotron" data-pages="parallax">
	    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
	      <div class="inner">
	        <!-- START BREADCRUMB -->
	         <ol class="breadcrumb">
						 <li class="breadcrumb-item"><a href="#">Clientes</a></li>
						 <li class="breadcrumb-item"><a href="{{lista_clientes}}">Lista Clientes</a></li>
	           <li class="breadcrumb-item active">Detalle de {{ cliente.nombre }} {{ cliente.apellidos }}</li>
	        </ol>
	        <!-- END BREADCRUMB -->
	      </div>
	    </div>
	  </div>
	  <!-- END JUMBOTRON -->
	  <!-- START CONTAINER FLUID -->
	  <div class="container-fluid container-fixed-lg">
	    <!-- BEGIN PlACE PAGE CONTENT HERE -->
	<section class="section">
		<div class="container">
			<hr>
			<div class="row separatedv">
				<div class="col-lg-4">
					<h4>Nombre Completo</h4>
					<p><strong>{{ cliente.nombre }} {{ cliente.apellidos }}</strong></p>
					<h4>Correo Electrónico</h4>
					<p><strong>{{cliente.email}}</strong></p>
					<h4>Empresa</h4>
					<p><strong>{{ cliente.empresa }}</strong></p>
					<h4>Dirección</h4>
					<p><strong>{{ cliente.direccion }}</strong></p>
				</div>
				<div class="col-lg-4">
					<h4>Fecha de Registro</h4>
					<p><strong>{{cliente.fecha_registro}}</strong></p>
					<h4>Telefono Principal</h4>
					<p><strong>{{cliente.telefono}}</strong></p>
					<h4>Telefono Adicional</h4>
					<p><strong>{{cliente.telefono2}}</strong></p>
				</div>
				<div class="col-lg-4 text-center">
					<h4>Contacto</h4>
					<div class="row">
						{% if cliente.email %}
						<div class="col-md-12 text-center">
							<a href="https://mail.zoho.com/zm/#compose" target="_black">
								<button type="button" name="button" class="btn btn-info btn-block"><i class="fas fa-envelope-square"></i></button>
							</a>
							<br>
						</div>
						{% endif %}
						{% if cliente.telefono %}
						<div class="col-md-12 text-center">
							<a href="tel:{{ cliente.telefono }}">
								<button type="button" name="button" class="btn btn-info btn-block"><i class="fas fa-phone"></i> Principal</button>
							</a><br>						</div>
						{% endif %}
						{% if cliente.telefono2 %}
						<div class="col-md-12 text-center">
							<a href="tel:{{ cliente.telefono2 }}">
								<button type="button" name="button" class="btn btn-info btn-block"><i class="fas fa-phone"></i> Adicional</button>
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3">
					<br>
					<a href="{% url "clientes:edit_cliente" cliente.id %}">
						<button type="submit" class="btn btn-info">Editar</button>
					</a>
				</div>
			</div>
		</div>
	</section>
<!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
<script type="text/javascript">
  $("#money").maskMoney({ formatOnBlur: true, reverse: true, prefix: '$' });
</script>


{% endblock %}
