{% extends 'base.html' %}
	{% load bootstrap3 %}
	{% block content %}
	{% url 'clientes:list_cliente' as lista_clientes %}
	{% block head_title %}| Editando a {{ objects.nombre }} {{ objects.apellidos }}{% endblock %}
	<!-- START PAGE CONTENT -->
	<div class="content">
	  <!-- START JUMBOTRON -->
	  <div class="jumbotron" data-pages="parallax">
	    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
	      <div class="inner">
	        <!-- START BREADCRUMB -->
	         <ol class="breadcrumb">
						 <li class="breadcrumb-item"><a href="#">Home</a></li>
						 <li class="breadcrumb-item"><a href="#">Bitacora</a></li>
             <li class="breadcrumb-item active">Editar a {{ venta.producto }}--{{ venta.cliente }}</li>
	        </ol>
	        <!-- END BREADCRUMB -->
	      </div>
	    </div>
	  </div>
	  <!-- END JUMBOTRON -->
	  <!-- START CONTAINER FLUID -->
	  <div class="container-fluid container-fixed-lg">
	    <!-- BEGIN PlACE PAGE CONTENT HERE -->
	<section class="section">
			<div class="row separatedv">
				<div class="col-lg-12 text-center">
					<h2>Editar a {{ venta.producto }} para "{{ venta.cliente }}"</h2>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<form method="post" class="a">
						{% csrf_token %}
						<!-- {%bootstrap_form form %} -->
						<div class="form-group">
							<label class="control-label" for="id_paqueteria">Paqueteria</label>
							<input value="{{venta.paqueteria}}" type="text" name="paqueteria" title="" id="id_paqueteria" maxlength="255" placeholder="Paqueteria" class="form-control" />
						</div>
						<div class="form-group">
	            <label class="control-label" for="cantidad_requerida">Cantidad Requerida</label>
	            <input value="{{venta.cantidad_requerida}}" type="text" name="cantidad_requerida" name="cantidad_requerida" title="" required class="form-control" placeholder="Cantidad Requerida" id="cantidad_requerida" />
	          </div>
						<div class="form-group">
							<label class="control-label" for="fecha_entrega">Fecha de Entrega</label>
							<input class="form-control" type="date" name="fecha_entrega" value="{{venta.fecha_entrega}}">
						</div>
						<div class="form-group">
							<label class="control-label" for="id_factura">Factura</label>
							<input value="{{venta.factura}}" type="number" name="factura" title="" placeholder="Factura" class="form-control" id="id_factura" />
						</div>
						<div class="form-group">
							<label class="control-label" for="id_observaciones">Observaciones</label>
							<input value="{{venta.observaciones}}" type="text" name="observaciones" title="" id="id_observaciones" maxlength="255" placeholder="Observaciones" class="form-control" />
						</div>
						<div class="form-group">
	            <label class="control-label" for="estado">Estado</label>
	            <select name="estado" name="estado" title="" id="estado" maxlength="255" class="form-control">
								<option value="{{venta.estado}}">{{venta.estado}}</option>
								<option value="Armada">Armada</option>
								<option value="Entregada">Entregada</option>
								<option value="Cancelada">Cancelada</option>
							</select>
	          </div>
						{% if user.is_superuser %}
						<div class="form-group">
							<div>
								<label for="id_descontado">
									<input value="False" type="checkbox" name="descontado" class="" id="id_descontado" /> Descontado</label>
								</div>
							</div>
							{% endif %}
						<input type="submit" value="Editar" class="btn btn-success"/>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</section>
	<!-- END PLACE PAGE CONTENT HERE -->
	</div>
	<!-- END CONTAINER FLUID -->
	</div>
	<!-- END PAGE CONTENT -->
<script type="text/javascript">
$(document).ready(function () {
  var elemen = document.getElementsByClassName("checkbox")[0];
  elemen.classList..addClass("checkbox");
});
</script>
{% endblock %}
